<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtrIjoGL5mo5mlZaDGiQC4hNCcaVQ3FS0</string>
	<key>GCM_SENDER_ID</key>
	<string>21244888541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hermione.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hermoine-e9367</string>
	<key>STORAGE_BUCKET</key>
	<string>hermoine-e9367.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21244888541:ios:21a7b4216314949592e234</string>
</dict>
</plist>